@model IQueryable<Product>


<div class="row">
    <div class="col-12 col-md-3 mb-4">
        @await Component.InvokeAsync("CategoriesMenu")
    </div>
    <div class="col-12 col-md-9">
        <div class="row g-4 my-3">
            @foreach (var prd in Model)
            {
                <partial name="_ProductCard" model="@prd" />
            }
        </div>
    </div>
</div>